/* Header with Transparancy */
[data-md-color-scheme="slate"] .md-header {
    background-color: rgba(63, 81, 181, 0.7); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  [data-md-color-scheme="default"] .md-header {
    background-color: rgba(48, 63, 159, 0.9); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  
/* Extra style for buttons and images */
.md-content img, .md-button {
    border-radius: 7px !important;
    transition: transform 1s ease-out;
  }
  
  .md-content img:hover, .md-button:hover {
    transform: scale(1.05);
  }
  
  /* Extra style for search bar */
  .md-search__form {
    border-radius: 7px !important;
  }

  